// ==================================
// VARIABLES
// ==================================
$green-bleak: #c3e2b9;
$green-light: #76dd53;
$green-primary: #48bc20;
$green-dark: #268008;
$text-color-primary: #1c1c1c;

// ==================================
// MIXINS & FUNCTIONS
// ==================================
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
}

@mixin respond($breakpoint) {
  @if $breakpoint == desktop-xxsm {
    @media (max-width: 379px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xsm {
    @media (max-width: 575px) {
      @content;
    }
  }
  @if $breakpoint == desktop-sm {
    @media (max-width: 769px) {
      @content;
    }
  }
  @if $breakpoint == desktop-md {
    @media (max-width: 991px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lg {
    @media (max-width: 1199px) {
      @content;
    }
  }

  @if $breakpoint == desktop-xl {
    @media (max-width: 1279px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xxl {
    @media (max-width: 1720px) {
      @content;
    }
  }

  @if $breakpoint == desktop-xxxl {
    @media (max-width: 1900px) {
      @content;
    }
  }
}

@function resize($base, $value) {
  $result: $base * $value;
  @return $result;
}

// ==================================
// GENERAL SETTINGS
// ==================================

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  min-width: 100vw;
    font-size: 62.5%;   //1rem = 10px 10px/16 62.5%
    //font-size: 67.5%;   //1rem = 10px 10px/16 62.5%

    // @include respond(desktop-xxl) {
    //   font-size: 62.5%;
    // }




    @include respond(desktop-xl) {
      font-size: 57.5%;
    }

    @include respond(desktop-lg) {
      font-size: 55%;
    }

    @include respond(desktop-xsm) {
      font-size: 52.5%;
    }




    // @include respond(desktop-xl) {
    //   font-size: 60%;
    // }

    // @include respond(desktop-lg) {
    //   font-size: 57.5%;
    // }

    // @include respond(desktop-md) {
    //   font-size: 55%;
    // }

    // @include respond(desktop-sm) {
    //   font-size: 50%;
    // }

    // @include respond(desktop-xsm) {
    //   font-size: 62.5%;
    // }

    // @include respond(desktop-xxsm) {
    //   font-size: 50%;
    // }
}

body {
    padding-top: calc(6.9rem + 1.5px);
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: $text-color-primary;
    overflow-x: hidden;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { 
      width: 0 !important;
  }
}

// ==================================
// UTLITIES
// ==================================
.container {
  margin: 0 auto;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  max-width: 132.4rem;
  
  // @include respond(desktop-xg) {
  //   padding-left: 5rem;
  //   padding-right: 5rem;
  // }

  // @include respond(desktop-lg) {
  //   padding-left: 3rem;
  //   padding-right: 3rem;
  // }

  // @include respond(desktop-md) {
  //   padding-left: 4rem;
  //   padding-right: 4rem;
  // }

  // @include respond(desktop-sm) {
  //   padding-left: 1.7rem;
  //   padding-right: 1.7rem;
  // }

  // @include respond(desktop-xsm) {
  //   padding-left: 1.7rem;
  //   padding-right: 1.7rem;
  // }
}

.container-fluid {
  margin: 0 auto;
  padding-left: 8rem;
  padding-right: 8rem;
  

  @include respond(desktop-lg) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @include respond(desktop-md) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  // @include respond(desktop-xsm) {
  //   padding-left: 5%;
  //   padding-right: 5%;
  // }
}


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .93rem 1.65rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  border: solid 1.75px transparent;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  transition-property: background-color, color, border-color;

  &-link {
    font-size: 1.9rem;
    font-weight: 600;
    color: #404040;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
 
  &-primary {
   color: #FFF;
   background-color: $green-primary;
   border-color: $green-primary;

   &:hover,
   &:focus {
     background-color: $green-light;
     border-color: $green-light;
   }
 
   &-outlined {
    background-color: transparent;
    color: $green-primary;
    border-color: $green-primary;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $green-primary;
      border-color: $green-primary;
    }
   }
  }

  &-secondary {

    &-outlined {
      background-color: #FFF;
      color: #2678e5;
      border: solid 2px #2678e5;

      &:hover,
      &:focus {
        background-color: #2678e5;
        color: #fff;
      }
    }
  }

  &-white {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.4rem 3.35rem;
    border-radius: 4px;
    border: solid 1px #dadce0;
    background-color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    color: #2376e5;
  }
 }

.hide {
  display: none;
}

.show-xsm-block {
  display: none;

  @include respond(desktop-xsm) {
    display: block;
  }
}

.show-xsm-inline-block {
  display: none;

  @include respond(desktop-xsm) {
    display: inline-block;
  }
}

.show-md-inline-flex {
  display: none;

  @include respond(desktop-md) {
    display: inline-flex;
  }
}

.show-md-inline-block {
  display: none;

  @include respond(desktop-md) {
    display: inline-block;
  }
}

.show-xsm-inline-flex {
  display: none;

  @include respond(desktop-xsm) {
    display: inline-flex;
  }
}

.hide-md {
  @include respond(desktop-md) {
    display: none!important;
  }
}

.hide-sm {
  @include respond(desktop-sm) {
    display: none!important;
  }
}

.hide-xsm {
  @include respond(desktop-xsm) {
    display: none!important;
  }
}

.hide-xxsm {
  @include respond(desktop-xxsm) {
    display: none!important;
  }
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.onscreen {
  transform: translate(0,0)!important;
}



// ==================================
// LAYOUT
// ==================================
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1.5px solid #f1f1f1;
  z-index: 1000;

  & .nav {
    // padding: 1.8rem 8rem;
    padding-bottom: .3rem;
    height: 6.9rem;
    display: flex;
    align-items: center;
   
    &.container {
      @include respond(desktop-xsm) {
        padding-right: 3rem;
      }
    }

    &-brand {
      margin-bottom: -.5rem;
      margin-right: 4%;
      &-img {
        height: 2.95rem;
      }
    }

    &-list {
      margin-right: auto;
      max-width: 46rem;
      width: 100%;
      display: flex;
      align-items: center;
      list-style: none;
      justify-content: space-between;

      &-item {

        &-link {
          font-size: 1.7rem;
          font-weight: 400;
          color: #2f2f2f;
          text-decoration: none;

          &:hover,
          &:focus {
            text-decoration: underline;
          }

          &.active {
            font-weight: 600;
            color: #070707;
          }
        }

        &:not(:first-of-type) {
          margin-left: 2rem;
        }
      }

      & > * {
        white-space: nowrap;
      }
    }

    &-buttons {
      margin-left: 5%;
      //margin-right: .3rem;
      white-space: nowrap;

      @include respond(desktop-md) {
        margin-right: -.5rem;
        margin-left: auto;
      }

      & .btn-link {
        margin-right: 2.2rem;

        @include respond(desktop-md) {
          font-size: 1.7rem;
          margin-right: 1.5rem;
        }
      }

      & .btn-primary {
        padding: .8rem 1.8rem;
      }
    }

    & .nav-menu-toggle {
      margin-left: auto;
      cursor: pointer;

      & svg {
        color: #232324;
        font-size: 2.5rem;
      }
    }

    //MENU
    &-menu {
      height: 100vh;
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      transform: translate(100%, 0);
      transition: all .5s ease-in-out;
      background-color: #FFF;
      z-index: 1500;

      @include respond(desktop-md) {
        display: block;
      }

      & .container {
        @include respond(desktop-xsm) {
          padding-right: 3rem;
        }
      }
      
      &-header {
        // padding: 1.8rem 8rem;
        height: calc(6.9rem + 1.5px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1.5px solid #f1f1f1;

        img {
          height: 2.95rem;
        }

        & .nav-menu-toggle {
          margin-left: auto;
          font-size: 2.5rem;
          color: #232324;
          cursor: pointer;
        }
      }

      &-body {

        &-list {
          list-style: none;

          &-item {
            
            &-link {
              padding-top: 1.8rem;
              padding-bottom: 1.8rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 1.7rem;
              font-weight: 400;
              color: #2f2f2f;
              text-decoration: none;

              &.active {
                font-weight: 600;
                color: #070707;
              }

              &:hover,
              &:focus {
                background-color: #f1f1f1;
              }
            }
          }
        }
      }

      &-footer {
        padding-top: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .btn {
          width: 49%;

          @include respond(desktop-xsm) {
            width: 100%;

            &:not(:first-of-type) {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}

//SUHEADER 
.subheader {
  position: fixed;
  top: 6.9rem;
  left:0;
  //padding-left: 18.1rem;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1.5px solid #F4F4F4;

  // -moz-box-shadow:    inset 0 0 10px #000000;
  //  -webkit-box-shadow: inset 0 0 10px #000000;
  

 

  //TABLET
  @include respond(desktop-md) {
    padding-left: 0;
  }

  & .shadow {
    position: absolute;
    width: 3rem;
    height: 100%;
    top: 0;
    right: 0;
    box-shadow: inset -30px 0 15px -5px #fff;
  }

  &-list {
    padding-right: 5.2rem!important;
    max-width: 120.8rem ;
    height: 5.6rem;
    display: flex;
    align-items: center;
    list-style: none;

    overflow-x: auto;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  
    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }

    & .pad {
      display: inline-block;
      height: 100%;
      min-width: .5rem;
    }

    &-item {
      &:not(:last-of-type) {
        margin-right: 2.8rem;
      }

      &-link {
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.06;
        color: #5f6368;
        text-decoration: none;

        &.active {
          font-weight: 600;
          color: #222426;
        }

        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

//=====================================
//HERO SECTION
//=====================================
.main-overview .section-hero {
  padding-top: 6.95rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  //TABLET
  @include respond(desktop-md) {
    padding-top: 6.4rem;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    padding-top: 3.95rem;
  }

  &-logo {

    &-img {
      margin-bottom: 2.8rem;
      height: 5.5rem;

      //TABLET
      @include respond(desktop-md) {
        margin-bottom: 2.22rem;
        height: 4.4rem;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        margin-bottom: .9rem;
      }
    }
  }

  &-title {
    margin-bottom: 2.8rem;
    max-width: 79.8rem;
    font-size: 5.4rem;
    font-weight: 600;
    line-height: 1.19;
    color: #202124;
    text-align: center;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 2rem;
      max-width: 59rem;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.25;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 2.4rem;
      max-width: 31.8rem;
      font-size: 2.9rem;
      font-weight: 600;
      line-height: 1.18;
      letter-spacing: -0.58px;
      color: #1c1c1c;
    }
  }

  &-text {
    margin-bottom: 2.8rem;
    font-size: 2.1rem;
    font-weight: 400;
    color: #5f6368;
    text-align: center;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 2.5rem;
      font-size: 1.7rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 2.8rem;
      max-width: 30rem;
      font-size: 1.5rem;
      line-height: 1.47;
      letter-spacing: 0.15px;
      color: #65696d;
    }
  }

  & .btn {
    padding: 1.05rem 2.7rem;
    font-size: 1.9rem;
    margin-bottom: 2.1rem;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 1.6rem;
      padding: .81rem 1.65rem;
      font-size: 1.6rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 1.3rem;
      width: 90%;
      font-size: 1.8rem;
    }
  }

  &-info {
    font-size: 1.6rem;
    font-weight: 600;
    color: #888888;

    //TABLET
    @include respond(desktop-md) {
      font-size: 1.3rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      font-size: 1.4rem;
    }
  }
  
  & .b-b {
    display: block;
    margin-top: 8.2rem;
    width: 100%;
    height: 1.75px;
    background-color: #F2F0F2;

    //TABLET
    @include respond(desktop-md) {
      margin-top: 6.4rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-top: 3.95rem;
    }
  }
}

//=====================================
//INFO SECTION
//=====================================
.main-overview .section-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 130rem;

  @include respond(desktop-xl) {
    max-width: 144rem;
    justify-content: space-evenly;
  }

  @include respond(desktop-md) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  

  &-card {
    padding-top: 7.3rem;
    max-width: 31.6rem;
    text-align: center;

    @include respond(desktop-md) {
      padding-top: 6.37rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 100%;
    }

    //TABLET
    @include respond(desktop-md) {
      //margin-left: 7rem;
      
    }

    @include respond(desktop-sm) {
      //justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
    }

    @include respond(desktop-xsm) {
      flex-direction: column!important;
      align-items: flex-start;
      padding-left: 3%;
      padding-right: 3%;
      margin-left: 0!important;
      margin-right: 0!important;
    }

    &-img {
      margin-bottom: 3.5rem;
      max-height: 42.5rem;
      border-radius: 1.2rem;
      border: 7px solid #F6F6F6;

      @include respond(desktop-lg) {
        height: 39rem;
      }

      @include respond(desktop-xsm) {
        align-self: center;
      }
    }

    &-body {

      @include respond(desktop-xsm) {
        max-width: 90%!important;
        margin-left: 0!important;
        margin-right: 0!important;
      }

      &-title {
        margin-bottom: 1.9rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.36;
        color: #000000;
      }

      &-text {
        margin-bottom: 2.7rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #5f6368;
      }

      & .btn {

      }
    }

    &.card-01 {

      & .section-info-card-body {

        @include respond(desktop-md) {
          margin-left: 6.62rem;
          max-width: 31.5rem;
          text-align: left;
        }

        //TABLET
        @include respond(desktop-md) {
          margin-left: 6.62rem;
          max-width: 31.5rem;
          text-align: left;
        }

        @include respond(desktop-sm) {
          margin-left: 2rem;
        }
      }
    }

    &.card-02 {
      flex-direction: row-reverse;

      & .section-info-card-body {

        @include respond(desktop-md) {
          margin-right: 10.9rem;
          max-width: 29.6rem;
          text-align: left;
        }

        @include respond(desktop-sm) {
          margin-right: 2rem;
        }
      }
    }

    &.card-03 {

      & .section-info-card-body {

        @include respond(desktop-md) {
          margin-left: 10.9rem;
          max-width: 29.6rem;
          text-align: left;
        }

        @include respond(desktop-sm) {
          margin-left: 2rem;
        }
      }
    }
  }

  // & .b-b {
  //   display: block;
  //   margin-top: 8.2rem;
  //   width: 100%;
  //   height: 1.75px;
  //   background-color: #F2F0F2;

  //   //TABLET
  //   @include respond(desktop-md) {
  //     margin-top: 6.4rem;
  //   }

  //   //MOBILE
  //   @include respond(desktop-xsm) {
  //     display: none;
  //   }
  // }
}

//=====================================
//DASHBOARD SECTION
//=====================================
.main-overview .section-dash {
  padding-top: 9.35rem;
  padding-bottom: 9.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 106.4rem;

  //TABLET
  @include respond(desktop-md) {
    padding-top: 8.8rem;
    padding-bottom: 6.35rem;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  
  //MOBILE
  @include respond(desktop-xsm) {
    padding-top: 7rem;
    padding-bottom: 7.1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &-img {
    margin-right: 2rem;
    max-width: 61.2rem;

    //TABLET
    @include respond(desktop-md) {
      margin-right: 0;
      margin-left: 2rem;
      max-width: 32.6rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 2.46rem;
      margin-left: 0;
      max-width: 100%;
    }
  }

  &-body {
    max-width: 37rem;
    margin-right: -1.4rem;

    //MOBILE
    @include respond(desktop-xsm) {
      max-width: 100%!important;
    }

    &-title {
      max-width: 31.1rem;
      margin-bottom: 2.3rem;
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.3;
      color: #000000;

      //TABLET
      @include respond(desktop-md) {
        margin-bottom: 2.2rem;
        max-width: 22.8rem;
        font-size: 2.2rem;
      }

       //MOBILE
       @include respond(desktop-xsm) {
        max-width: 70%;
      }
    }
  
    &-text {
      margin-bottom: 1.5rem;
      font-family: 'Roboto', sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.6;
      color: #5f6368;

      //TABLET
      @include respond(desktop-md) {
        max-width: 32rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        max-width: 90%;
      }
    }
  }
}

//=====================================
//BANNER SECTION
//=====================================
.main-overview .section-banner {
  max-width: 100%;
  padding-top: 6.85rem;
  padding-bottom: 7.15rem;
  background-color: #fafafa;
  text-align: center;

  //TABLET
  @include respond(desktop-md) {
    padding-top: 4.25rem;
    padding-bottom: 4.7rem;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    padding-top: 5.55rem;
    padding-bottom: 5.25rem;
  }

  &-logo {
    margin-bottom: 1.33rem;
    height: 5.28rem;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 1.95rem;
      height: 4.25rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 1.13rem;
      height: 4.68rem;
    }
  }

  &-title {
    margin-bottom: 1.4rem;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.19;
    letter-spacing: -0.29px;
    color: #000000;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 1.5rem;
      font-size: 4.1rem;
      line-height: 1.39;
      letter-spacing: -0.22px;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 1.2rem;
      font-size: 2.6rem;
      line-height: 1.31;
      letter-spacing: -0.91px;
    }
  }

  &-text {
    margin: 0 auto;
    margin-bottom: 2.8rem;
    max-width: 65.4rem;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.47;
    color: #2f2f2f;

    //TABLET
    @include respond(desktop-md) {
      max-width: 51.6rem;
      margin-bottom: 2.2rem;
      font-size: 1.5rem;
      line-height: 1.6;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      max-width: 31.8rem;
      margin-bottom: 2rem;
    }
  }

  & .btn {
    margin-bottom: 1.4rem;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
     font-size: 1.6rem;
    }
  }

  &-info {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.8;
    color: #6f6f6f;

    //TABLET
    @include respond(desktop-md) {
      font-size: 1.2rem;
    }
  }
}

//=====================================
//FOOTER SECTION
//=====================================
.footer {
  border-top: 1.5px solid #F2F0F2;

  &-top {
    padding-top: 5.45rem;
    padding-bottom: 6.4rem;
    display: flex;
    align-items: baseline;

    @include respond(desktop-lg) {
      justify-content: space-evenly;
    }

    @include respond(desktop-md) {
      justify-content: space-between;
    }

    //TABLET
    @include respond(desktop-sm) {
      max-width: 64.6rem;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      padding-top: 4.6rem;
      padding-bottom: 5.1rem;
      justify-content: space-evenly;
    }

    @include respond(desktop-xxsm) {
      justify-content: space-between;
    }

    &-list {
      width: 100%;
      max-width: 23rem;
      list-style: none;

      @include respond(desktop-lg) {
        width: auto;
        max-width: auto;
      }
  
      //TABLET
      @include respond(desktop-sm) {
        width: 100%;
        max-width: 20rem;

        &:nth-of-type(2) {
          margin-bottom: 5.7rem;
        }
      }

      //MOBILE
      @include respond(desktop-xsm) {
        width: 40%;
        max-width: 40%;
      }

      @include respond(desktop-xxsm) {
        width: 45%;
        max-width: 45%;
      }

      &-item {
        white-space: nowrap;

        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }

        &-title {
          font-family: 'Open Sans', sans-serif;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.73;
          color: #313131;
        }

        &-link {
          font-family: Arial;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.86;
          color: #8b8b8b;
          text-decoration: none;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &-mid {
    background-color: #f5f5f5;

    &-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 7.1rem;

      //MOBILE
      @include respond(desktop-xsm) {
        height: 10rem;
        flex-wrap: wrap;
        justify-content: center;
      }

      @include respond(desktop-xxsm) {
        height: 15.1rem;
      }

      &-links {

      //MOBILE
      @include respond(desktop-xsm) {
        width: 100%;
        text-align: center;
      }

      & > *:not(:first-of-type) {
        //MOBILE
      @include respond(desktop-xxsm) {
        margin-right: 0!important;
      }
      }

        & .btn-link {
          margin-right: 2.9rem;
          font-family: Arial;
          font-size: 1.4rem;
          font-weight: bold;
          line-height: 1.57;
          color: #454545;
        }

        & .dd-custom {
          display: inline-flex;
          align-items: center;
          font-family: Arial;
          font-size: 1.4rem;
          font-weight: normal;
          line-height: 1.57;
          color: #454545;
          text-decoration: none;

          & svg {
            margin-left: .5rem;
            color: #3e3e3e;
          }

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }

        & .show-inline-block {
          //MOBILE
          @include respond(desktop-xxsm) {
            margin-top: 2.5rem;
            display: block!important;
          }
        }
      }

      &-social {

        &-icon {
          font-size: 2.2rem;
          color: #333;
          text-decoration: none;

          &:hover,
          &:focus {
            color: $green-primary;
          }

          &:not(:last-of-type) {
            margin-right: .8rem;
          }
        }
      }
    }
  }

  &-bot {
    background-color: #ebeaeb;

    &-text {
      font-family: 'Open Sans', sans-serif;
      display: flex;
      align-items: center;
      height: 4.5rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.83;
      color: #454545;

      @include respond(desktop-xsm) {
        height: 9.3rem;
        text-align: center;
      }

      & .big {
        @include respond(desktop-xsm) {
          display: none;
        }
      }

      & .small {
        display: none;
        @include respond(desktop-xsm) {
          display: inline-block;
        }
      }
    }
  }
}

//FEATURES FEEDBACK RECEIVED
.main-feedback-received,
.main-feedback-giving,
.main-feedback-lead,
.main-feedback-dash {
  padding-top: 5.6rem;
}
//=====================================
//HERO SECTION
//=====================================
.main-feedback-received .section-hero,
.main-feedback-giving .section-hero,
.main-feedback-lead .section-hero,
.main-feedback-dash .section-hero {
  // padding-top: 8rem;//!!!
  // padding-bottom: 9.2rem;//!!!
  display: flex;
  align-items: flex-start;//!!!
  justify-content: space-between;
  max-width: 120.8rem ;
  height: 54.6rem;//!!!

  //TABLET
  @include respond(desktop-sm) {
    padding-top: 6.8rem;
    padding-bottom: 6.3rem;
    flex-direction: column;
    text-align: center;
    align-items: center;//!!!
    height: auto;//!!!
  }

  //TABLET
  @include respond(desktop-xsm) {
    padding-top: 5.4rem;
    padding-bottom: 5.4rem;
  }

  &-wrapper {
    background-color: rgba(235, 235, 235, 0.2);
    border-bottom: 1.5px solid #F2F0F2;

    //TABLET
    @include respond(desktop-sm) {
      background-color: #FFF;
    }
  }

  &-main {
    padding-top: 10.4rem;//!!!

    //TABLET
    @include respond(desktop-sm) {
      padding-top: 0;//!!!
    }

    &-subtitle {
      margin-bottom: .5rem;
      font-size: 1.7rem;
      font-weight: 600;
      line-height: 1.94;
      color: #222426;

      //TABLET
      @include respond(desktop-sm) {
        margin-bottom: .8rem;
        font-size: 1.9rem;
        line-height: 1.74;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        margin-bottom: 1rem;
        font-size: 1.7rem;
        line-height: 1.53;
      }
    }

    &-title {
      margin-bottom: 2.7rem;
      max-width: 37.7rem;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.2;
      color: #000000;

      //TABLET
      @include respond(desktop-sm) {
        margin: 0 auto;
        margin-bottom: 2.2rem;
        max-width: 41.4rem;
        font-size: 4.4rem;
        line-height: 1.14;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        margin-bottom: 2rem;
        max-width: 32rem;
        font-size: 3.4rem;
      }
    }

    &-text {
      margin-right: 2rem;
      margin-bottom: 2.4rem;
      max-width: 46rem;
      min-width: 44rem;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.44;
      color: #5f6368;

      //TABLET
      @include respond(desktop-sm) {
        margin-right: 0;
        min-width: 0;
        margin-bottom: 3rem;
        max-width: 48.6rem;
        font-size: 1.9rem;
        line-height: 1.47;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        margin-bottom: 2rem;
        max-width: 35.8rem;
        font-size: 1.4rem;
      }
    }
  }

  &-img {
    align-self: center;//!!!
    max-width: 54.7rem;
    width: 100%;
    min-width: 0;

     //TABLET
     @include respond(desktop-sm) {
     display: none;
    }
  }
}

//=====================================
//STATS SECTION
//=====================================
.main-feedback-received .section-stats,
.main-feedback-giving .section-stats,
.main-feedback-lead .section-stats,
.main-feedback-dash .section-stats {
  padding-top: 12.55rem;
  padding-bottom: 11.2rem;
  display: flex;
  align-items: center;
  max-width: 110.7rem;
  align-items: center;
  justify-content: space-between;

  //TABLET
  @include respond(desktop-sm) {
    padding-top: 5.1rem;
    padding-bottom: 4.9rem;
    flex-direction: column;
    text-align: center;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    padding-top: 3.45rem;
    padding-bottom: 3.45rem;
    text-align: left;
  }

  &-img {
    margin-right: 2rem;
    max-width: 50.7rem;
    width: 100%;
    min-width: 0;

    //TABLET
    @include respond(desktop-sm) {
      margin-right: 0;
      margin-bottom: 2.5rem;
      max-width: 43.3rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 2.5rem;
        max-width: 35.1rem;
    }
  }

  &-main {

    &-title {
      margin-bottom: 2.8rem;
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.4;
      color: #1d1d1d;

      //TABLET
      @include respond(desktop-sm) {
        margin-bottom: 1.4rem;
      }
    }

    &-text {
      max-width: 46.6rem;
      min-width: 42.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.44;
      color: #1d1d1d;

      //TABLET
      @include respond(desktop-sm) {
        max-width: 44rem;
        min-width: 0;
        font-size: 1.7rem;
        line-height: 1.29;
      }
    }
  }
}

//=====================================
//FEATURES SECTION
//=====================================
.main-feedback-received .section-feat,
.main-feedback-giving .section-feat,
.main-feedback-lead .section-feat,
.main-feedback-dash .section-feat {

  &-card {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    //TABLET
    @include respond(desktop-sm) {
      flex-direction: column-reverse!important;
      text-align: center;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      text-align: left;
    }

    &-main {

      &-title {
        margin-bottom: 2.8rem;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.4;
        color: #1d1d1d;

        //TABLET
        @include respond(desktop-sm) {
          margin: 0 auto;
          margin-bottom: 1.4rem;
        }

        //MOBILE
        @include respond(desktop-xsm) {
          margin-bottom: 2rem;
          max-width: 23.5rem;
          font-size: 2.2rem;
          line-height: 1.36;
        }
      }

      &-text {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.44;
        color: #1d1d1d;

        //TABLET
        @include respond(desktop-sm) {
          margin: 0 auto;
          font-size: 1.7rem;
          line-height: 1.29;
        }

        //MOBILE
        @include respond(desktop-xsm) {
          margin: 0;
          max-width: 100%;
          font-family: Roboto;
          font-size: 1.55rem;
          line-height: 1.61;
        }
      }
    }

    &-img {
      width: 100%;
      min-width: 0;

      //TABLET
      @include respond(desktop-sm) {
        margin-bottom: 3.5rem;
      }
    }

    &.card-01 {
      padding: 0 calc((100% - 107rem) / 2);
      padding-top: 3.35rem;
      padding-bottom: 4.25rem;
      //max-width: 107rem;
      border-top: 1.5px solid #F2F0F2;
      border-bottom: 1.5px solid #F2F0F2;

      //TABLET
      @include respond(desktop-sm) {
        padding-top: 2.4rem;
        padding-bottom: 5.4rem;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        padding-top: 3.4rem;
        padding-bottom: 3.6rem;
      }
      
      & .section-feat-card {
        &-main {

          &-title {
            max-width: 32.1rem;

            //TABLET
            @include respond(desktop-sm) {
              max-width: 100%;
            }

            //MOBILE
            @include respond(desktop-xsm) {
              margin-left: 0;
              margin-right: 0;
              max-width: 23.5rem;
            }
          }

          &-text {
            margin-right: 2rem;
            max-width: 45.7rem;
            min-width: 42.7rem;

            //TABLET
            @include respond(desktop-sm) {
              margin-right: 0;
              max-width: 43.2rem;
              min-width: 0;
            }
          }
        }

        &-img {
          max-width: 49rem;

          // //TABLET
          // @include respond(desktop-sm) {
          //   max-width: 32rem;
          // }

          //MOBILE
          @include respond(desktop-xsm) {
            max-width: 32rem;
          }
        }
      }
    }

    &.card-02 {
      padding: 0 calc((100% - 78.6rem) / 2);
      padding-top: 4.95rem;
      padding-bottom: 5.9rem;
      //max-width: 78.6rem;
      flex-direction: row-reverse;

      //TABLET
      @include respond(desktop-sm) {
        padding-top: 5rem;
        padding-bottom: 7.2rem;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        padding-top: 3.6rem;
        padding-bottom: 5.4rem;
      }

      & .section-feat-card {

        &-main {
          
          &-title {
            max-width: 32rem;

            //TABLET
            @include respond(desktop-sm) {
              max-width: 100%;
            }

            //MOBILE
            @include respond(desktop-xsm) {
              margin-left: 0;
              margin-right: 0;
              max-width: 23.5rem;
            }
          }

          &-text {
            max-width: 44.4rem;
            min-width: 44.4rem;

            //TABLET
            @include respond(desktop-sm) {
              max-width: 43.2rem;
              min-width: 0;
            }
          }
        }

        &-img {
          max-width: 23.6rem;

          //MOBILE
          @include respond(desktop-xsm) {
            max-width: 15.414rem;
          }
        }
      }
    }
  }
}

//=====================================
//BANNER SECTION
//=====================================
.main-feedback-received .section-banner,
.main-feedback-giving .section-banner,
.main-feedback-lead .section-banner,
.main-feedback-dash .section-banner {
  padding: 8.3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $green-primary;
  text-align: center;

  //TABLET
  @include respond(desktop-sm) {
    padding-top: 4.9rem;
    padding-bottom: 6.1rem;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    padding-top: 3.4rem;
    padding-bottom: 4rem;
  }

  &-title {
    margin-bottom: 2.2rem;
    font-size: 3.9rem;
    font-weight: 600;
    line-height: 1.08;
    color: #ffffff;

    //TABLET
    @include respond(desktop-sm) {
      margin-bottom: 1.5rem;
      font-size: 3.8rem;
      line-height: 1.11;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 1.7rem;
      font-size: 3.1rem;
      line-height: 1.35;
    }
  }

  &-text {
    padding: 0 2.2rem;
    max-width: 66.4rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
    color: #ffffff;

    //TABLET
    @include respond(desktop-sm) {
      max-width: 60.2rem;
      font-size: 1.8rem;
      line-height: 1.44;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      max-width: 39.3rem;
      font-size: 1.55rem;
      line-height: 1.61;
    }
  }
}

//=====================================
//CARDS SECTION
//=====================================
.main-feedback-received .section-cards,
.main-feedback-giving .section-cards,
.main-feedback-lead .section-cards,
.main-feedback-dash .section-cards {
  padding-top: 6.8rem;
  padding-bottom: 9.6rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);

  //TABLET
  @include respond(desktop-sm) {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  //MOBILE
  @include respond(desktop-xsm) {
    display: none;
  }

  &-card {
    padding: 6.2rem 0;
    text-align: center;

    &:nth-of-type(2) {
      border-right: 2px solid #F4F4F4;
      border-left: 2px solid #F4F4F4;
    }

    //TABLET
    @include respond(desktop-sm) {
      padding-top: 6.1rem;
      padding-bottom: 4.85rem;

      &:nth-of-type(3) {
        border-left: 2px solid #F4F4F4;
        // /border-left: none;
      }

      &:last-of-type {
        display: none;
      }
    }

    &-title {
      margin-bottom: 1.4rem;
      font-size: 2.6rem;
      font-weight: 600;
      line-height: 1.35;
      color: #000000;

      &::first-letter {
        text-transform: uppercase;
      }

      & span {
        @include respond(desktop-md) {
          display: none;
        }

        @include respond(desktop-sm) {
          display: inline;
        }
      }

      
    }

    &-text {
      margin: 0 auto;
      margin-bottom: 2.5rem;
      max-width: 25.6rem;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.6;
      color: #5f6368;
    }
  }
}

///////////////////////////////
////////FEEDBACK GIVING////////
///////////////////////////////
#main-feedback-giving .section-hero {
  &-img {
    max-width: 49.9rem;//@@@
    margin-right: 6rem;//@@@
  }
}

#main-feedback-giving .section-stats {
  padding-top: 3.7rem;//@@@
  padding-bottom: 3.5rem;//@@@
  max-width: 78.4rem;//@@@

  &-img {
    max-width: 23.7rem;//@@@
  }
}

#main-feedback-giving .section-feat {

    & .card-01 {
      padding: 0 calc((100% - 97.5rem) / 2);//@@@
      padding-top: 9.45rem;//@@@
      padding-bottom: 13.2rem;//@@@
      
      &.section-feat-card {

        & img {
          max-width: 37.1rem;//@@@
        }
    }
  }
}

///////////////////////////////
////////FEEDBACK LEAD////////
///////////////////////////////
#main-feedback-lead {
  & .section-hero {

    @include respond(desktop-sm) {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
    }

    &-main {

      &-title {
        max-width: 38.3rem;
      }

      &-text {
        max-width: 50.1rem;
      }
    }
    
    &-img {
      margin-right: 4rem;
      max-width: 52rem;

      @include respond(desktop-md) {
        margin-right: 0;
      }
    }
  }

  & .section-stats {
    padding-top: 11.3rem;
    padding-bottom: 10.7rem;
    max-width: 97.15rem;


    @include respond(desktop-sm) {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
    }

    &-img {
      max-width: 37.7rem;
    }
  }

  & .section-feat {

    &-card {

      @include respond(desktop-sm) {
        padding-top: 4.5rem!important;
        padding-bottom: 4.5rem!important;
      }

      &-img {
        max-width: 50.1rem;

        @include respond(desktop-sm) {
          max-width: 37rem;
        }
      }

      &.card-01 {
        padding: 0 calc((100% - 107rem) / 2);//@@@
        padding-top: 3.5rem;//@@@
        padding-bottom: 3rem;//@@@

        .section-feat-card {

          &-main {

            &-title {
              max-width: 26.4rem;
            }

            &-text {
              max-width: 48.7rem;
            }
          }
        }
      }

      &.card-02 {
        padding: 0 calc((100% - 104rem) / 2);//@@@
        padding-top: 3.2rem;//@@@
        padding-bottom: 7.9rem;//@@@
      }
    }
  }
}

///////////////////////////////
////////FEEDBACK DASH////////
///////////////////////////////
#main-feedback-dash {
  & .section-hero {
    
    &-img {
      max-width: 58.9rem;
    }

    &-main {

      &-title {
        max-width: 40.4rem;

        @include respond(desktop-sm) {
          max-width: 45rem;
        }
      }

      &-text {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  & .section-stats {
    max-width: 112.8rem;
    &-img {
      max-width: 54rem;

      @include respond(desktop-sm) {
        max-width: 43rem;
      }
    }

    &-main {

      &-title {
        max-width: 32.7rem;

        @include respond(desktop-sm) {
          margin-left: auto;
          margin-right: auto;
        }
      }

      &-text {
        max-width: 46.8rem;
      }
    }
  }

  & .section-feat {

    &-card {
      &-img {
      }
    }

    & .card-01 {
      padding-top: 10.3rem;
      padding-bottom: 9.76rem;
      .section-feat-card {

        &-img {
          max-width: 54rem;

          @include respond(desktop-sm) {
            max-width: 43rem;
          }
        }

        &-main {

          &-title {
           max-width: 32.7rem;
          }
        }
      }
    }

    & .card-02 {
      padding-left: calc((100% - 105rem) / 2);
      padding-right: calc((100% - 105rem) / 2);
      .section-feat-card {

        &-img {
          max-width: 46.2rem;

          @include respond(desktop-sm) {
            max-width: 43rem;
          }
        }

        &-main {

          &-title {
           max-width: 32.7rem;
          }
        }
      }
    }
  }
}

//ADDITIONAL CLASSES
.menu-open {
  transform: translate(0,0)!important;
}

// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Roboto', sans-serif;
//FORCE GIT UPDATE