// ==================================
// VARIABLES
// ==================================
$green-bleak: #c3e2b9;
$green-light: #76dd53;
$green-primary: #48bc20;
$green-dark: #268008;
$text-color-primary: #1c1c1c;

// ==================================
// MIXINS & FUNCTIONS
// ==================================
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
}

@mixin respond($breakpoint) {
  @if $breakpoint == desktop-xxsm {
    @media (max-width: 379px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xsm {
    @media (max-width: 575px) {
      @content;
    }
  }
  @if $breakpoint == desktop-sm {
    @media (max-width: 769px) {
      @content;
    }
  }
  @if $breakpoint == desktop-md {
    @media (max-width: 991px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lg {
    @media (max-width: 1199px) {
      @content;
    }
  }

  @if $breakpoint == desktop-xl {
    @media (max-width: 1379px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xxl {
    @media (max-width: 1720px) {
      @content;
    }
  }

  @if $breakpoint == desktop-xxxl {
    @media (max-width: 1900px) {
      @content;
    }
  }
}

@function resize($base, $value) {
  $result: $base * $value;
  @return $result;
}

// ==================================
// GENERAL SETTINGS
// ==================================

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  min-width: 100vw;
    font-size: 62.5%;   //1rem = 10px 10px/16 62.5%
    //font-size: 67.5%;   //1rem = 10px 10px/16 62.5%

    // @include respond(desktop-xxl) {
    //   font-size: 62.5%;
    // }

    @include respond(desktop-xl) {
      font-size: 60%;
    }

    @include respond(desktop-lg) {
      font-size: 57.5%;
    }

    @include respond(desktop-md) {
      font-size: 55%;
    }

    // @include respond(desktop-sm) {
    //   font-size: 50%;
    // }

    // @include respond(desktop-xsm) {
    //   font-size: 62.5%;
    // }

    // @include respond(desktop-xxsm) {
    //   font-size: 50%;
    // }
}

body {

    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: $text-color-primary;
    overflow-x: hidden;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { 
      width: 0 !important;
  }
}

// ==================================
// UTLITIES
// ==================================
.container {
  margin: 0 auto;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  max-width: 132.4rem;
  
  // @include respond(desktop-xg) {
  //   padding-left: 5rem;
  //   padding-right: 5rem;
  // }

  // @include respond(desktop-lg) {
  //   padding-left: 3rem;
  //   padding-right: 3rem;
  // }

  // @include respond(desktop-md) {
  //   padding-left: 4rem;
  //   padding-right: 4rem;
  // }

  // @include respond(desktop-sm) {
  //   padding-left: 1.7rem;
  //   padding-right: 1.7rem;
  // }

  // @include respond(desktop-xsm) {
  //   padding-left: 1.7rem;
  //   padding-right: 1.7rem;
  // }
}

.container-fluid {
  margin: 0 auto;
  padding-left: 8rem;
  padding-right: 8rem;
  

  @include respond(desktop-lg) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @include respond(desktop-md) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  // @include respond(desktop-xsm) {
  //   padding-left: 5%;
  //   padding-right: 5%;
  // }
}


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .93rem 1.65rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  border: solid 1.75px transparent;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  transition-property: background-color, color, border-color;

  &-link {
    font-size: 1.9rem;
    font-weight: 600;
    color: #404040;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
 
  &-primary {
   color: #FFF;
   background-color: $green-primary;
   border-color: $green-primary;

   &:hover,
   &:focus {
     background-color: $green-light;
     border-color: $green-light;
   }
 
   &-outlined {
    background-color: transparent;
    color: $green-primary;
    border-color: $green-primary;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $green-light;
      border-color: $green-light;
    }
   }
  }

  &-secondary {

    &-outlined {
      background-color: #FFF;
      color: #2678e5;
      border: solid 2px #2678e5;

      &:hover,
      &:focus {
        background-color: #2678e5;
        color: #fff;
      }
    }
  }

  &-white {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.4rem 3.35rem;
    border-radius: 4px;
    border: solid 1px #dadce0;
    background-color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    color: #2376e5;
  }
 }

.hide {
  display: none;
}

.show-xsm-block {
  display: none;

  @include respond(desktop-xsm) {
    display: block;
  }
}

.show-xsm-inline-block {
  display: none;

  @include respond(desktop-xsm) {
    display: inline-block;
  }
}

.show-md-inline-flex {
  display: none;

  @include respond(desktop-md) {
    display: inline-flex;
  }
}

.show-md-inline-block {
  display: none;

  @include respond(desktop-md) {
    display: inline-block;
  }
}

.show-xsm-inline-flex {
  display: none;

  @include respond(desktop-xsm) {
    display: inline-flex;
  }
}

.hide-md {
  @include respond(desktop-md) {
    display: none!important;
  }
}

.hide-sm {
  @include respond(desktop-sm) {
    display: none!important;
  }
}

.hide-xsm {
  @include respond(desktop-xsm) {
    display: none!important;
  }
}

.hide-xxsm {
  @include respond(desktop-xxsm) {
    display: none!important;
  }
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.onscreen {
  transform: translate(0,0)!important;
}



// ==================================
// LAYOUT
// ==================================
.header {
  position: relative;
  background-color: #FFF;
  border-bottom: 1.5px solid #f1f1f1;
  z-index: 1000;

  & .nav {
    // padding: 1.8rem 8rem;
    padding-bottom: .3rem;
    height: 6.9rem;
    display: flex;
    align-items: center;
   
    &.container {
      @include respond(desktop-xsm) {
        padding-right: 3rem;
      }
    }

    &-brand {
      margin-bottom: -.5rem;
      margin-right: 4%;
      &-img {
        height: 2.95rem;
      }
    }

    &-list {
      margin-right: auto;
      max-width: 46rem;
      width: 100%;
      display: flex;
      align-items: center;
      list-style: none;
      justify-content: space-between;

      &-item {

        &-link {
          font-size: 1.7rem;
          font-weight: 400;
          color: #2f2f2f;
          text-decoration: none;

          &:hover,
          &:focus {
            text-decoration: underline;
          }

          &.active {
            font-weight: 600;
            color: #070707;
          }
        }

        &:not(:first-of-type) {
          margin-left: 2rem;
        }
      }

      & > * {
        white-space: nowrap;
      }
    }

    &-buttons {
      margin-left: 5%;
      //margin-right: .3rem;
      white-space: nowrap;

      @include respond(desktop-md) {
        margin-right: -.5rem;
        margin-left: auto;
      }

      & .btn-link {
        margin-right: 2.2rem;

        @include respond(desktop-md) {
          font-size: 1.7rem;
          margin-right: 1.5rem;
        }
      }

      & .btn-primary {
        padding: .8rem 1.8rem;
      }
    }

    & .nav-menu-toggle {
      margin-left: auto;
      cursor: pointer;

      & svg {
        color: #232324;
        font-size: 2.5rem;
      }
    }

    //MENU
    &-menu {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      transform: translate(100%, 0);
      transition: all .5s ease-in-out;
      background-color: #FFF;
      z-index: 1500;

      @include respond(desktop-md) {
        display: block;
      }

      & .container {
        @include respond(desktop-xsm) {
          padding-right: 3rem;
        }
      }
      
      &-header {
        // padding: 1.8rem 8rem;
        height: calc(6.9rem + 1.5px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1.5px solid #f1f1f1;

        img {
          height: 2.95rem;
        }

        & .nav-menu-toggle {
          margin-left: auto;
          font-size: 2.5rem;
          color: #232324;
          cursor: pointer;
        }
      }

      &-body {

        &-list {
          list-style: none;

          &-item {
            
            &-link {
              padding-top: 1.8rem;
              padding-bottom: 1.8rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 1.7rem;
              font-weight: 400;
              color: #2f2f2f;
              text-decoration: none;

              &.active {
                font-weight: 600;
                color: #070707;
              }

              &:hover,
              &:focus {
                background-color: #f1f1f1;
              }
            }
          }
        }
      }

      &-footer {
        padding-top: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .btn {
          width: 49%;

          @include respond(desktop-xsm) {
            width: 100%;

            &:not(:first-of-type) {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}

//=====================================
//HERO SECTION
//=====================================
.main-overview .section-hero {
  padding-top: 6.95rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  //TABLET
  @include respond(desktop-md) {
    padding-top: 6.4rem;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    padding-top: 3.95rem;
  }

  &-logo {

    &-img {
      margin-bottom: 2.8rem;
      height: 5.5rem;

      //TABLET
      @include respond(desktop-md) {
        margin-bottom: 2.22rem;
        height: 4.4rem;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        margin-bottom: .9rem;
      }
    }
  }

  &-title {
    margin-bottom: 2.8rem;
    max-width: 79.8rem;
    font-size: 5.4rem;
    font-weight: 600;
    line-height: 1.19;
    color: #202124;
    text-align: center;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 2rem;
      max-width: 59rem;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.25;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 2.4rem;
      max-width: 31.8rem;
      font-size: 2.9rem;
      font-weight: 600;
      line-height: 1.18;
      letter-spacing: -0.58px;
      color: #1c1c1c;
    }
  }

  &-text {
    margin-bottom: 2.8rem;
    font-size: 2.1rem;
    font-weight: 400;
    color: #5f6368;
    text-align: center;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 2.5rem;
      font-size: 1.7rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 2.8rem;
      max-width: 30rem;
      font-size: 1.5rem;
      line-height: 1.47;
      letter-spacing: 0.15px;
      color: #65696d;
    }
  }

  & .btn {
    padding: 1.05rem 2.7rem;
    font-size: 1.9rem;
    margin-bottom: 2.1rem;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 1.6rem;
      padding: .81rem 1.65rem;
      font-size: 1.6rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 1.3rem;
      width: 90%;
      font-size: 1.8rem;
    }
  }

  &-info {
    font-size: 1.6rem;
    font-weight: 600;
    color: #888888;

    //TABLET
    @include respond(desktop-md) {
      font-size: 1.3rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      font-size: 1.4rem;
    }
  }
  
  & .b-b {
    display: block;
    margin-top: 8.2rem;
    width: 100%;
    height: 1.75px;
    background-color: #F2F0F2;

    //TABLET
    @include respond(desktop-md) {
      margin-top: 6.4rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-top: 3.95rem;
    }
  }
}

//=====================================
//FEATURES SECTION
//=====================================
.main-overview .section-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 130rem;

  @include respond(desktop-xl) {
    max-width: 144rem;
    justify-content: space-between;
  }

  @include respond(desktop-md) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  

  &-card {
    padding-top: 7.3rem;
    max-width: 31.6rem;
    text-align: center;

    @include respond(desktop-md) {
      padding-top: 6.37rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 100%;
    }

    //TABLET
    @include respond(desktop-md) {
      //margin-left: 7rem;
      
    }

    @include respond(desktop-sm) {
      //justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
    }

    @include respond(desktop-xsm) {
      flex-direction: column!important;
      align-items: flex-start;
      padding-left: 3%;
      padding-right: 3%;
      margin-left: 0!important;
      margin-right: 0!important;
    }

    &-img {
      margin-bottom: 3.5rem;
      max-height: 42.5rem;
      border-radius: 1.2rem;
      border: 7px solid #F6F6F6;

      @include respond(desktop-lg) {
        height: 39rem;
      }

      @include respond(desktop-xsm) {
        align-self: center;
      }
    }

    &-body {

      @include respond(desktop-xsm) {
        max-width: 90%!important;
        margin-left: 0!important;
        margin-right: 0!important;
      }

      &-title {
        margin-bottom: 1.9rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.36;
        color: #000000;
      }

      &-text {
        margin-bottom: 2.7rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #5f6368;
      }

      & .btn {

      }
    }

    &.card-01 {

      & .section-info-card-body {

        @include respond(desktop-md) {
          margin-left: 6.62rem;
          max-width: 31.5rem;
          text-align: left;
        }

        //TABLET
        @include respond(desktop-md) {
          margin-left: 6.62rem;
          max-width: 31.5rem;
          text-align: left;
        }

        @include respond(desktop-sm) {
          margin-left: 2rem;
        }
      }
    }

    &.card-02 {
      flex-direction: row-reverse;

      & .section-info-card-body {

        @include respond(desktop-md) {
          margin-right: 10.9rem;
          max-width: 29.6rem;
          text-align: left;
        }

        @include respond(desktop-sm) {
          margin-right: 2rem;
        }
      }
    }

    &.card-03 {

      & .section-info-card-body {

        @include respond(desktop-md) {
          margin-left: 10.9rem;
          max-width: 29.6rem;
          text-align: left;
        }

        @include respond(desktop-sm) {
          margin-left: 2rem;
        }
      }
    }
  }
}

//ADDITIONAL CLASSE
.menu-open {
  transform: translate(0,0)!important;
}

// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Roboto', sans-serif;
//FORCE GIT UPDATE